.header{
    font-family: Cinzel;
    background-image: url(images/wood2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;


    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 140px;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-bottom-color: white;

    
}
.title_container{
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 7px;
    white-space: nowrap;
}
.title{
    
    margin-top: 5px;
    border-style: solid;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 43px;
}
.motto{
    margin-top: 5px;
    font-size: 20px;
}
.menu{

    color: white;
    display: flex;
    justify-content: center;
    font-size: 15px;
    white-space: nowrap;
}
.menu-items{
    
    justify-content: center;
    padding-right: 2%;
}
.menu-link{
    color: white;
    text-decoration: none;
}
.menu-items :hover{
    text-decoration: underline;
}





